color-primary = #06BFC1
color-dark = #2d2d2d
color-dark-text = rgb(190, 188, 183)
color-dark-input-border = lighten(color-dark, 20%)
color-dark-border = darken(color-dark, 15%)
::-webkit-scrollbar
  background-color darken(color-dark, 10%)
  width 8px
  background-clip padding-box
::-webkit-scrollbar-thumb
  background-color lighten(color-dark, 10%)
  border 1px solid lighten(color-dark, 20%)
  border-radius 5px
::-webkit-scrollbar-corner
  background-color darken(color-dark, 10%)
